@model List<Edukator.EntityLayer.Concrete.SocialMedia>
<footer class="w3l-footer-22 position-relative">
    <div class="footer-sub py-5">
        <div class="container py-md-5">
            <div class="row sub-columns">
                <div class="col-lg-4 col-md-6 sub-one-left ab-right-cont pr-lg-5 mb-md-0  mb-4">
                    <h6>Hakkımızda </h6>
                    <p>
                        Edukator projesi full stack .Net Core Eğitimi kapsamında gerçekleştirilen , N katmanlı mimari prensibiyle hazırlanan bir projedir.
                    </p>
                    <div class="columns-2">
                        <ul class="social">
                            @foreach (var item in Model)
                            {
                                <li>
                                    <a href="@item.SocialMediaUrl" target="_blank"><span class="@item.SocialMediaIcon" aria-hidden="true"></span></a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 sub-two-right pl-lg-5">
                    <h6>Bağlantılar</h6>
                    <ul>
                        <li>
                            <a href="/Default/Index/"><span class="fas fa-chevron-right mr-2"></span>Ana Sayfa</a>
                        </li>
                        <li>
                            <a href="/About/Index/"><span class="fas fa-chevron-right mr-2"></span>Hakkımızda</a>
                        </li>
                        <li><a href="/Courses/Index/"><span class="fas fa-chevron-right mr-2"></span>Kurslar</a></li>
                        <li><a href="/Contact/Index/"><span class="fas fa-chevron-right mr-2"></span>İletişim</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 sub-two-right pl-lg-5 mt-md-0 mt-4">
                    <h6>Yardım Desteği</h6>
                    <ul>
                        <li>
                            <a href="#live">
                                <span class="fas fa-chevron-right mr-2"></span>Canlı
                                Çizelge
                            </a>
                        </li>
                        <li>
                            <a href="#faq"><span class="fas fa-chevron-right mr-2"></span>SSS</a>
                        </li>
                        <li>
                            <a href="#support"><span class="fas fa-chevron-right mr-2"></span>Destek</a>
                        </li>
                        <li>
                            <a href="#terms">
                                <span class="fas fa-chevron-right mr-2"></span>Hizmet Şartları
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 sub-two-right mt-md-0 mt-4">
                    <h6>Araştırma</h6>
                    <ul>
                        <li>
                            <a href="#"><span class="fas fa-chevron-right mr-2"></span> Akademik Bölümler </a>
                        </li>
                        <li>
                            <a href="#"><span class="fas fa-chevron-right mr-2"></span> Öğrenci Araştırması</a>
                        </li>
                        <li>
                            <a href="#"><span class="fas fa-chevron-right mr-2"></span> Centers & Institutes</a>
                        </li>
                        <li><a href="#"><span class="fas fa-chevron-right mr-2"></span> Araştırma tesisleri</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- copyright -->
    <div class="copyright-footer text-center">
        <div class="container">
            <div class="columns">
                <p>
                    © 2021 Edukator. Tüm Hakları Saklıdır. Design by YuKee
                </p>
            </div>
        </div>
    </div>
    <!-- //copyright -->
</footer>